<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <!--Cloud Connection strings -->
    <!--<add name="ChatDBEntities" connectionString="metadata=res://*/ChatDB.csdl|res://*/ChatDB.ssdl|res://*/ChatDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.71.180.27;initial catalog=optimistikinfo_com_chatmodule;persist security info=True;user id=ChatOptimistikinfo;password=info@12345;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChatEntities" connectionString="metadata=res://*/App_Code.ChatDatabase.csdl|res://*/App_Code.ChatDatabase.ssdl|res://*/App_Code.ChatDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=64.71.180.27;initial catalog=optimistikinfo_com_chatmodule;persist security info=True;user id=ChatOptimistikinfo;password=info@12345;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Local connection string-->
    <add name="ChatDBEntities" connectionString="metadata=res://*/ChatDB.csdl|res://*/ChatDB.ssdl|res://*/ChatDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\Sqlexpress;initial catalog=Company;persist security info=True;user id=sa;password=ds;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ChatEntities" connectionString="metadata=res://*/App_Code.ChatDatabase.csdl|res://*/App_Code.ChatDatabase.ssdl|res://*/App_Code.ChatDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\Sqlexpress;initial catalog=Company;persist security info=True;user id=sa;password=ds;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="NotificationEnabled" value="True" />
    <add key="FromMail" value="" />
    <add key="ToMail" value="aditimarathe1@gmail.com" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="465" />
    <add key="UseAuth" value="Yes" />
    <add key="Username" value="aditimarathe1@gmail.com" />
    <add key="Password" value="raje@123" />
    <add key="UseSSL" value="Yes" />
    <add key="Mailformat" value="HTML" />
    <add key="Subject" value="" />
    <add key="Enable" value="true" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="chat.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>